@{
    ViewData["Title"] = "Users";
}

<div class="row" style="width:100%">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-header row bg-white m-0">
                <div class="col-6">
                    <h2 class="text-info">Users</h2>
                </div>
                <div class="col-3 offset-3">
                    <a asp-action="Insert" asp-controller="Account" class="btn btn-info form-control text-white">
                        Add New User
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="p-3">
                    <table id="DT_load" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Employee Name</th>
                                <th>Area</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/user.js" asp-append-version="true"></script>
}