@model Ortho_matic.Models.ViewModels.UpdateVM
@{
    var dis = false;
    if (Model.Name == "admin")
    {
        dis = true;
    }
    var list = new List<SelectListItem>() {
        new SelectListItem
                        {
                            Text = "Staff",
                            Value = "Staff",
                        },
        new SelectListItem
                    {
                        Text = "SubAdmin",
                        Value = "SubAdmin",
                    },
            };
    SelectList regionLst = new SelectList(ViewBag.Regions, "Id", "Name", Model.RegionId ?? -1);
}
<div class="col-12">
    <div class="card custom-card">
        <h1 class="text-info card-header bg-white">Edit account</h1>
        <div class="card-body">
            <form asp-controller="Account" asp-action="Update" method="post" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" hidden />
                <div class="row">
                    <div class="form-group col-6" hidden="@dis">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="EmployeeName"></label>
                        <input asp-for="EmployeeName" class="form-control" />
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group col-4">
                            <label asp-for="UserRole">Type</label>
                            <select asp-for="UserRole" asp-items="@list" class="form-control"></select>
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>
                    }
                    @if (User.IsInRole("SubAdmin"))
                    {
                        <div class="form-group col-4">
                            <label asp-for="UserRole">Type</label>
                            <input asp-for="UserRole" value="@Model.UserRole" disabled class="form-control" />
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group col-6">
                        <label asp-for="Region"></label>
                        <select asp-for="RegionId" asp-items="regionLst" class="form-control">
                            @if (Model.Id != null)
                            {
                                <option value="-1">no region selected</option>
                            }
                        </select>
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-info form-control">Update</button>
                    </div>
                    <div class="col-md-2">
                        <a asp-action="Index" asp-controller="Account" class="btn btn-outline-warning form-control">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }