@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="big">Ortho Matic System</p>
    <img src="~/img/whatsapp image 2022-09-21 at 9.26.39 am.jpeg" />
</div>
