@model Ortho_matic.Models.ViewModels.ExcelVM

@{
    ViewData["Title"] = "Excel sheet";
    SelectList userLst = new SelectList(ViewBag.Users, "UserName", "UserName");
}

<form class="col-12 pb-2" asp-action="GetExcelSheet" method="post">
    <div class="card custom-card">
        <div class="card-body">
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="UserName"></label>
                    <select asp-for="UserName" asp-items="userLst" class="form-control"></select>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="StartTime"></label>
                    <input type="date" asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="EndTime"></label>
                    <input type="date" asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white">
            <button type="submit" class="btn btn-outline-info">Export</button>
        </div>

    </div>
</form>
